
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';



body {
    font-family: 'Poppins', sans-serif;
}


.navbar {

    font-weight: 700;
    .navbar-brand-centered {

        font-size: 30px;

    }

    .dropdown-toggle {
      cursor: pointer;

      &::after {
        display: none;
      }
    }


    #dropdown-custom {
        width: 105vw;
        left: -35px;
        padding: 40px;
        background-color: $primary;
    }






}

@media (min-width: 768px) {
    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 180px;
        text-align: center;

    }

    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -80px;
    }
}
