
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
    height: 100%;
    min-height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    min-height: 100%;
}


.navbar {

    font-weight: 700;
    box-shadow: 0 2px 1px -1px #b7b7b7;
    .navbar-brand-centered {

        font-size: 30px;

    }



    a {
        &:hover {
            color: $primary;
            opacity: 0.6;
        }
    }

    button {

        &:focus {

            outline: none;
        }
    }

    i {
        color: $primary;
    }

    .dropdown-toggle {
      cursor: pointer;

      &::after {
        display: none;
      }
    }


    #dropdown-custom {


        width: 101vw;
        left: -35px;
        padding: 40px;
        background-color: $primary;


        .dropdown-container {

            display: flex;
            flex-direction: row;
            align-items: center;


            .left {

                border-right: 1px solid #273a4e;
                width: 150px;
                vertical-align: top;
                height: 100%;


                    h1 {
                        text-align: left;
                        font-size: 10px !important;
                        letter-spacing: 1px !important;
                        text-transform: uppercase;
                        color: white;
                        font-weight: 400;
                        margin-bottom: 10px;
                        opacity: 0.8;
                        margin-top: 12px;

                    }

                    p {
                        font-weight: normal !important;
                        line-height: 25px !important;
                        margin: 0 0 10px !important;



                        a {
                            color: white;
                            font-size: 14px;
                            text-decoration: none;
                            letter-spacing: 0px;

                            &:hover {
                                opacity: 0.5;
                                cursor: pointer;
                            }
                        }
                    }


            }

            .right {
                width: 80%;
                display: flex;
                vert-align: top;
                height: 100%;

                div {
                    width: 27%;
                    display: inline-block;
                    margin-left: 40px;
                    margin-right: 0px;
                    padding: 10px;
                    
                    @media max-width {

                    }

                    a {
                        text-decoration: none;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        color: white;

                        &:hover {
                            opacity: 0.5;
                            cursor: pointer;
                        }

                        img {
                            width: 70px;
                            height: 70px;
                            margin-left: auto;
                            margin-right: auto;
                            display: block;
                            max-width: 100%;
                            vertical-align: middle;
                        }

                        p {


                            text-align: center;
                            margin-top: 10px;
                        }
                    }



                }
            }
        }
    }


    #toggle-menu {

        @media (min-width: 768px) {
            visibility: hidden;
        }


           background: rgb(63, 137, 166);
           height: 100vh;
           width: 104vw;
           position: absolute;
           overflow-y: scroll;
           left: 0px;
           top: 75px;
           z-index: 50000;



           div {

               height: 75px;
               border-bottom: 2px solid #3f89a6;
               background: $primary;

               a {
                   display: block;
                   height: 100%;
                   width: 100%;
                   padding: 0 40px;
                   cursor: pointer;



                   p {
                       font-size: 17px;
                       color: white;
                       position: relative;
                       top: 50%;
                       transform: translateY(-50%)
                   }
               }

               &#cats {

                   height: 120px;

                   h1 {
                       display: block;
                       padding: 20px 40px 0 40px;
                       font-size: 17px;
                       font-weight: 700;
                       margin-top: 20px;
                       color: white;


                   }

                   a {
                       height: auto;
                       color: #dffcff;
                       font-weight: 400;
                   }
               }



               &#sales {
                   height: 120px;
                   margin-top: 20px;
                   border-bottom: 2px solid #3f89a6;
               }

               &#contacts {
                   height: 200px;
                   margin-top: 20px;
                   border-bottom: 2px solid #3f89a6;

                   span {
                       position: relative;
                       display: block;
                       top: 50%;
                       transform: translateY(-50%);

                       a {
                           font-size: 17px;
                           margin: 20px 0;
                           color: white;
                           position: relative;
                           top: 50%;
                           -webkit-transform: translateY(-50%);
                           transform: translateY(-50%);
                       }
                   }
               }
           }
       }

    .navbar-brand-centered {
        margin: auto;
        display: block;
        width: 180px;
        text-align: center;

    }
}

@media (min-width: 768px) {

    .navbar-brand-centered {
        position: absolute;
        left: 50%;
        display: block;
        width: 180px;
        text-align: center;

    }

    .navbar>.container .navbar-brand-centered,
    .navbar>.container-fluid .navbar-brand-centered {
        margin-left: -118px;
    }
}
